
Options +Includes
AddType text/html .shtml
AddHandler server-parsed .shtml

AddType application/x-httpd-perl_html .ehtml
Action application/x-httpd-perl_html /cgi-bin/eml.cgi

DirectoryIndex index.html index.shtml index.ehtml