.cmenu_item
{
    CLEAR: both;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    WIDTH: 100%;
    CURSOR: default;
    COLOR: #606260;
    PADDING-TOP: 4px;
    TEXT-DECORATION: none
}
.cmenu_item_on
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    WIDTH: 100%;
    CURSOR: default;
    COLOR: #ffffff;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #ff7300;
    TEXT-DECORATION: none
}
.cmenu_hr
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 1px;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 5px 0px;
    WIDTH: 60%;
    PADDING-TOP: 0px;
    HEIGHT: 2px;
    BACKGROUND-COLOR: #ff7300
}
.cmenu_root
{
    BORDER-RIGHT: #ff7300 2px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ff7300 2px solid;
    PADDING-LEFT: 0px;
    FILTER: alpha(opacity=75,style=0);
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    BORDER-LEFT: #ff7300 2px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ff7300 2px solid;
    POSITION: absolute;
    BACKGROUND-COLOR: #f0f4f0;
    TEXT-DECORATION: none
}
.cmenu_root TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
.cmenu_root TR
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
BODY
{
    FONT-FAMILY: Arial
}
