BODY
{
    FONT-SIZE: 11px;
    FONT-FAMILY: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
    BACKGROUND-COLOR: #e2e9e2
}
TD
{
    FONT-SIZE: 11px;
    FONT-FAMILY: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
    BACKGROUND-COLOR: #e2e9e2
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif
}
INPUT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif
}
SELECT
{
    VERTICAL-ALIGN: middle
}
INPUT
{
    VERTICAL-ALIGN: middle
}
.Toolbar
{
}
.ButtonOut
{
    BORDER-RIGHT: #efefde 1px solid;
    BORDER-TOP: #efefde 1px solid;
    FILTER: alpha(opacity=70);
    BORDER-LEFT: #efefde 1px solid;
    BORDER-BOTTOM: #efefde 1px solid
}
.ButtonOver
{
    BORDER-RIGHT: #316ac5 1px solid;
    BORDER-TOP: #316ac5 1px solid;
    BORDER-LEFT: #316ac5 1px solid;
    BORDER-BOTTOM: #316ac5 1px solid;
    BACKGROUND-COLOR: #c1d2ee
}
.ButtonOff
{
    BORDER-RIGHT: #efefde 1px solid;
    BORDER-TOP: #efefde 1px solid;
    FILTER: gray() alpha(opacity=30);
    BORDER-LEFT: #efefde 1px solid;
    BORDER-BOTTOM: #efefde 1px solid
}
.ButtonHidden
{
    VISIBILITY: hidden
}
.EditorBody
{
    MARGIN: 5px
}
.EditorArea
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    HEIGHT: 100%
}
