
Options +Includes +MultiViews
AddType text/html .shtml
AddHandler server-parsed .shtml

AddType application/x-httpd-enjine_html .ehtml
Action application/x-httpd-enjine_html /cgi-bin/eml.cgi

DirectoryIndex index.html index.htm index.shtml index.ehtml index.php