
DirectoryIndex index.ehtml index.html index.htm index.shtml index.php index.xml

RewriteEngine  On
RewriteBase    /

RewriteCond %{REQUEST_URI}							^/$ [OR]
RewriteCond %{REQUEST_FILENAME}						!-d
RewriteCond %{REQUEST_URI}							\.ehtml$ [OR]
RewriteCond %{REQUEST_FILENAME}						!-f
RewriteCond %{REQUEST_FILENAME}						!-l
RewriteRule (.*) /cgi-bin/cmsb.pl/$1

RewriteCond %{REQUEST_URI}							/$
RewriteCond %{REQUEST_FILENAME}						-d
RewriteCond "%{REQUEST_FILENAME}/.cmsb-catch-path"	-f
RewriteRule (.*) /cgi-bin/cmsb.pl/$1