
.catalog .preview
{
	float: left;
	position: relative;
	
	width: 340px; height: 130px; overflow: auto;
	margin: 8px;
	padding: 5px 8px 0px 8px;
}

.catalog .ware .props { }

.catalog .props div { display: none; }

.catalog .preview .photo
{
	float: left;
	position: relative;
	
	background-repeat: no-repeat;
	background-position: center center;
	
	width: 168px; height: 107px;
	
	margin: 3px 8px 8px 0;
	border: 1px solid #ffd100;
}

.catalog .preview .desc .name
{
	margin-bottom: 2px;
	font-weight: bold;
	font-size: 13px;
	color: #ffcc00;
}
.catalog .preview .desc .text
{
	font-size: 11px;
	color: #fff;
}
.catalog .preview .desc a
{
	display: block;
}
.catalog .preview .more
{
	position: absolute; right: 0; bottom: 0;
	margin: 15px;
}
.catalog .preview .more a
{
	font-size: 10px;
}

.ware .bigphoto
{
	float: left;
	margin: 0px 10px 10px 0;
	border: 1px solid #ffd100;
}

.ware .papa
{
	clear: both;
	text-align: right;
	margin: 10px 100px 10px 10px;
}

/*----------------------------------------------------------------------------*/

.catalog .navigation
{
	display: none;
	border: 1px solid #ffd100;
	float: right;
	margin: 10px;
}
.catalog .navigation .content
{
	margin: 2px;
}
.catalog .navigation .content a
{
	white-space: nowrap;
	display: block;
	margin: 2px;
}
.catalog .navigation .head
{
	background-image: url(/images/v221_02.jpg);
	background-repeat: repeat-x;
	background-position: center -28px;
	
	border-bottom: 1px solid #ffd100;
	font-weight: bold;

	font-size: 14px;
	padding: 3px 15px;
	white-space: nowrap;
}

/*----------------------------------------------------------------------------*/

.catalog .empty
{
	clear: both;
}
.catalog .nullpls {
	height: 100%;
	width: 100%;
	
}
