@charset "windows-1251";

/*
——————————————————————————————————————————————————————————————————————————————————————————
									Стили модуля «Обратная связь»
——————————————————————————————————————————————————————————————————————————————————————————
*/

.mod-feedback {}

.mod-feedback input, .mod-feedback textarea { width: 100%; //width: 95%;}
.mod-feedback .checkbox {width: auto}

.mod-feedback td {padding: 2px 0;}

.mod-feedback .ask a {}



.mod-feedback-question
{
	padding: 1em;
	border: solid 1px #ccc;
}

.mod-feedback-question .head
{
	font-size: 1.3em;
	font-weight: bold;
	color: #888;
}

.mod-feedback-question .text
{
	margin: 0.5em 2em 1.5em 2em;
}

