BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: #005372;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial
}
.main_table
{
    WIDTH: 800px;
    HEIGHT: 100%
}
.main_table .tdp
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px
}
.bordered
{
    BORDER-RIGHT: #a3a3a3 1px solid;
    BORDER-TOP: #a3a3a3 1px solid;
    BORDER-LEFT: #a3a3a3 1px;
    BORDER-BOTTOM: #a3a3a3 1px solid
}
.content_td
{
    TEXT-ALIGN: justify
}
TD
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Arial
}
.copyright
{
    BORDER-RIGHT: #a3a3a3 1px solid;
    BORDER-TOP: #a3a3a3 1px;
    PADDING-LEFT: 20px;
    FONT-SIZE: 10px;
    BORDER-LEFT: #a3a3a3 1px solid;
    COLOR: #a3a3a3;
    BORDER-BOTTOM: #a3a3a3 1px solid
}
.padded
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px
}

.menubuttom
{
    HEIGHT: 100px;
    BORDER-RIGHT: #a3a3a3 1px solid;
    BORDER-TOP: #a3a3a3 1px;
    BORDER-LEFT: #a3a3a3 1px;
    BORDER-BOTTOM: #a3a3a3 1px solid
}
.menuitem
{
    HEIGHT: 20px;
    BORDER-RIGHT: #a3a3a3 1px solid;
    BORDER-TOP: white 1px solid;
    PADDING-LEFT: 20px;
    BORDER-LEFT: white 1px solid;
    CURSOR: pointer;
    BORDER-BOTTOM: white 1px solid
}
.menutop
{
    HEIGHT: 20px;
    BORDER-RIGHT: #a3a3a3 1px solid;
    BORDER-TOP: white 1px solid;
    PADDING-LEFT: 20px;
    BORDER-LEFT: white 1px solid;
    BORDER-BOTTOM: white 1px solid
}
.menuitem_s
{
    HEIGHT: 20px;
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: #a3a3a3 1px solid;
    PADDING-LEFT: 20px;
    BORDER-LEFT: #a3a3a3 1px solid;
    CURSOR: default;
    BORDER-BOTTOM: #a3a3a3 1px solid
}
.newsblock
{
}
.newsblock .news
{
}
.newsblock .news .head
{
    FONT-WEIGHT: bold
}
.newsblock .news .body
{
}
.menuitem_o
{
    HEIGHT: 20px;
    BORDER-RIGHT: #a3a3a3 1px solid;
    BORDER-TOP: white 1px solid;
    PADDING-LEFT: 20px;
    BORDER-LEFT: white 1px solid;
    CURSOR: pointer;
    COLOR: #ffffff;
    BORDER-BOTTOM: white 1px solid;
    BACKGROUND-COLOR: #005372
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
.menuitem A
{
    COLOR: #005372;
    TEXT-DECORATION: none
}
.menuitem_o A
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.newsblock .news .date
{
    FONT-SIZE: 10px;
    COLOR: #a3a3a3;
    TEXT-ALIGN: right
}
A
{
    COLOR: #005372
}
.menuitem_s A
{
    TEXT-DECORATION: none
}
