BODY
{
    FONT: 11px Verdana
}
TD
{
    FONT: 11px Verdana
}
DIV
{
    FONT: 11px Verdana
}
.c1
{
    BACKGROUND: url(/i/bg1.gif) #000000;
    HEIGHT: 113px
}
.c2
{
    BACKGROUND: url(/i/mbg.jpg) no-repeat left top
}
.c3
{
    BACKGROUND: url(/i/cap1.gif) no-repeat left bottom;
    VERTICAL-ALIGN: top
}
.c4
{
    BORDER-RIGHT: #828282 1px solid;
    VERTICAL-ALIGN: top;
    HEIGHT: 100%
}
.c5
{
    FONT-SIZE: 10px;
    COLOR: #6b696b;
    BORDER-BOTTOM: #c6c3c6 1px solid;
    HEIGHT: 26px
}
.c6
{
    BORDER-RIGHT: #c6c3c6 1px solid;
    BORDER-TOP: medium none;
    BACKGROUND: #e0e0e0;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: #c6c3c6 1px solid
}
.c7
{
    BORDER-TOP: #ffffff 1px solid;
    BACKGROUND: #a4a4a4;
    PADDING-TOP: 30px
}
.c8
{
    BORDER-BOTTOM: #a5a5a5 1px solid;
    HEIGHT: 25px;
    backgroundc-color: #E0E0E0
}
.c9
{
    PADDING-RIGHT: 28px;
    PADDING-LEFT: 28px;
    BACKGROUND: #e0e0e0;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #a5a5a5 1px solid
}
.c10
{
    BORDER-RIGHT: #dedede 1px solid;
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    WIDTH: 11px;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.c11
{
    PADDING-RIGHT: 12px;
    PADDING-LEFT: 12px;
    BACKGROUND: #eeeeee;
    PADDING-BOTTOM: 10px;
    COLOR: #6b696b;
    PADDING-TOP: 10px
}
.c12
{
    PADDING-LEFT: 6px;
    COLOR: #ffffff
}
.c13
{
    BORDER-RIGHT: #5b5b5b 1px solid;
    TEXT-ALIGN: center
}
.menuitem
{
    PADDING-LEFT: 6px
}
.white
{
    COLOR: #ffffff
}
A.white
{
    COLOR: #ffffff
}
.menu1
{
    WIDTH: 56px;
    BORDER-BOTTOM: #bdbabd 1px solid;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #dedfde
}
.men1
{
    FONT-SIZE: 10px;
    COLOR: #5a5d5a;
    TEXT-DECORATION: underline
}
A.men1
{
    FONT-SIZE: 10px;
    COLOR: #5a5d5a;
    TEXT-DECORATION: underline
}
A.men1:visited
{
    FONT-SIZE: 10px;
    COLOR: #5a5d5a;
    TEXT-DECORATION: underline
}
A
{
    FONT-SIZE: 10px;
    COLOR: #5a5d5a;
    TEXT-DECORATION: underline
}
.tipaa
{
    FONT-SIZE: 10px;
    COLOR: #5a5d5a;
}
A:visited
{
    FONT-SIZE: 10px;
    COLOR: #5a5d5a;
    TEXT-DECORATION: underline
}
.men1
{
    COLOR: #444444;
    TEXT-DECORATION: none
}
A.men1:hover
{
    COLOR: #333333
}








.table-1px
{
    BORDER-RIGHT: #828282 0px solid;
    BORDER-TOP: #828282 1px solid;
    BACKGROUND-IMAGE: url(i/b.gif);
    BORDER-LEFT: #828282 1px solid;
    BORDER-BOTTOM: #828282 0px solid;
    BACKGROUND-REPEAT: repeat-x
}
.table-1px-in
{
    BORDER-RIGHT: #c6c7c6 1px solid;
    BORDER-TOP: #c6c7c6 1px solid;
    BORDER-LEFT: #c6c7c6 1px solid;
    BORDER-BOTTOM: #c6c7c6 1px solid
}
TD
{
    FONT-SIZE: 11px;
    COLOR: #6b696b;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.table-menu
{
    BORDER-RIGHT: #c6c3c6 0px solid;
    BORDER-TOP: #c6c3c6 0px solid;
    BORDER-LEFT: #c6c3c6 1px solid;
    BORDER-BOTTOM: #c6c3c6 1px solid;
    HEIGHT: 22px
}
.table-down
{
    BORDER-RIGHT: #5b5b5b 1px solid;
    BORDER-TOP: #5b5b5b 0px solid;
    BORDER-LEFT: #5b5b5b 0px solid;
    BORDER-BOTTOM: #5b5b5b 0px solid
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
