.mtypes
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #d2d9df 1px solid;
    PADDING-LEFT: 10px;
    BORDER-LEFT: black 1px;
    WIDTH: 1px;
    COLOR: white;
    BORDER-BOTTOM: black 1px;
    TEXT-ALIGN: center
}
TABLE
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: 'Arial CYR', 'Arial Cyr', Arial
}
.mtypes_s
{
    BORDER-RIGHT: #d2d9df 1px;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #d2d9df 1px;
    PADDING-LEFT: 10px;
    BORDER-LEFT: #d2d9df 1px;
    COLOR: black;
    BORDER-BOTTOM: #d2d9df 1px;
    BACKGROUND-COLOR: silver
}
.list
{
    BORDER-RIGHT: #d2d9df 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #d2d9df 1px solid;
    PADDING-LEFT: 10px;
    BORDER-LEFT: #d2d9df 1px solid;
    BORDER-BOTTOM: #d2d9df 1px solid
}
.left_dir
{
    PADDING-LEFT: 16px
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: black;
    PADDING-TOP: 0px;
    FONT-FAMILY: 'Arial CYR', 'Arial Cyr', Arial
}
A
{
    COLOR: black;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: black;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}
.left_body
{
    MARGIN-TOP: 10px;
    MARGIN-LEFT: 10px
}
.icon
{
    MARGIN-TOP: 1px;
    MARGIN-BOTTOM: 1px;
    MARGIN-RIGHT: 3px
}
A:active
{
    COLOR: black;
    TEXT-DECORATION: none
}
